*{
    margin: 0%;
    padding: 0%;

}
.slide-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: mandatory;

}
img{
    background: fixed;
   
}
