
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "montserrat ", sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
body{
   
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(/resource/images/bg.jpg) #030728 no-repeat center;

}
.card-list .card-items{
    color: #fff;
    width: 400px;
    padding: 35px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid  rgba(255, 255, 255, 0.5);
    align-items: center;
    display: flex ;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px);
}
.card-list .card-items .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-bottom: 40px;
    padding: 4px;
}
.card-list .card-items .user-profile{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0px 40px;

}
.card-list .card-items .message-btn{
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s;

}
.card-list .card-items .message-btn:hover{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: #fff;

}