*{
    background-color: aquamarine;
}
.main-contaier{
    border: 15px teal;
    height: 664px;
    width: fit-content;
    border-radius: 70px;
    margin: 1% auto;

}
.ludo-upper{
    display: flex;
    justify-content: space-between;
    
}