body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: end;
   
}
header {
    background-color: #333;
    color: white;
    padding: 15px;
    font-size: 24px;
    text-align: center;
}
nav {
    background-color: #555;
    padding: 10px;
    
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    
    
}
a{
    margin-left: 70px;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 20px;
    background: white;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}